/* autor nikita matatov */

/* сброс стилей */
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif; /*сброс шрифта: размер/межстрочное расстояние */
	width: 100%;                            /* максимальная ширина */
	height: 100;                              /*максимальная высота */
	background: #fff; 
}

p {
	color: #b8b8b8;
	margin: 0 0 10px 0;                /* отступ снизу */
	line-height: 2em;                      /*межстрочный интревал */
	font-size: 15px
}

a {
	color: #8c6641;
	font-weight: bold;
	text-decoration: none;                   /* подчеркивание: нет*/ 
	outline: none;                  /* точечная ракмка при нажатии: нет */
}

a:hover {               /* ссылки при наведении */
	color: black;
}


/* новые стили */

#wrap {
	margin: 20px auto ;/*  внешний отступ */
	background: url("../img/top-shadow.jpg") repeat-x #fff;
	width: 947px;
	position: relative;
	min-height: 100%;
	border: 8px solid #ccc;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

/*** Шапка ***/

div#header {
	width:100%;
	height: 200px;
}

div#header a.logo { /* логотип можно записать просто как .logo*/
background: url("../images/logo.png") no-repeat;
height: 37px;
float: left; /*обтекание: слева*/
width:310px;
margin: 30px;
}
 
ul.menu { /* маркированный список - меню в шапке */
list-style: none; /*стиль для списка: нет (убираем квадратики, круглики)*/
padding: 20px 30px 0 0;/*внутренний отступ: сверху справа снизу слева*/
float: right; /*обтекание: справа*/
}
ul.menu li { /*элемент маркированного списка*/
float: left;
width:auto;
}
ul.menu li a {/* ссылки маркированного списка */
padding: 10px 20px;
text-decoration: none;
color:#b8b8b8;
font-weight: normal;
font-size: 14px;
}
ul.menu li a:hover { /*псевдокласс hover - при на ведении курсора на ссылку ненумерованного списка*/
color:#8a6540;
}
.text {/* блок с текстом в шапке */
float: left;
width: auto;
border-top:1px #eee solid;/* рамка сверху */
border-bottom:1px #eee solid;/* рамка снизу */
padding: 20px 0px;
margin: 0px 30px;
}

